.container {
  width: 1110px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 689px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .container {
    width: 375px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.header {
  width: 100%;
  height: 96px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

@media (max-width: 768px) {
  .header {
    width: 768px;
  }
}

@media (max-width: 450px) {
  .header {
    width: 450px;
  }
}

.header .header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
}

.header .header__main .main__lp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header .header__main .main__lp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.header .header__main .main__lp .main__lp-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 450px) {
  .header .header__main .main__lp .main__lp-list {
    display: none;
  }
}

.header .header__main .main__lp .main__lp-list .lp-list__item {
  margin-left: 32px;
}

.header .header__main .main__lp .main__lp-list .lp-list__item:nth-child(1) {
  margin-left: 58px;
}

.header .header__main .main__lp .main__lp-list .lp-list__item .item__link {
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
  color: #939caa;
}

.header .header__main .main__lp .main__lp-list .lp-list__item .item__link:hover {
  color: #fcb72b;
}

.header .header__main .main__lp .fas {
  display: none;
}

@media (max-width: 450px) {
  .header .header__main .main__lp .fas {
    display: block;
    margin-right: 80px;
    color: #fcb72b;
  }
}

@media (max-width: 450px) {
  .header .header__main .main-rp {
    display: none;
  }
}

.header .header__main .main-rp .main-rp__link {
  text-decoration: none;
  padding: 14px 39px;
  background-color: #fcb72b;
  font-family: "Space Mono", sans-serif;
  color: #fff;
}

.header .header__main .main-rp .main-rp__link:hover {
  color: #fcb72b;
  background-color: #fff;
  border: 2px solid #fcb72b;
  -webkit-box-shadow: 0px 1px 2px #fcb72b;
          box-shadow: 0px 1px 2px #fcb72b;
}

.header .header__main .main-rp .main-rp__link:active {
  background-color: transparent;
  color: #fcb72b;
  border: 2px solid #fcb72b;
}

.about {
  margin-top: 96px;
  padding-top: 96px;
  height: 650px;
  background-image: url(/img/intro-bgi.jpg);
  background-size: cover;
  position: relative;
  margin-bottom: 160px;
}

@media (max-width: 768px) {
  .about {
    background-position: 75%;
    margin-bottom: 122px;
    padding: 0;
  }
}

.about::before {
  content: url(/img/line.svg);
  position: absolute;
  top: 50%;
  left: 0;
}

@media (max-width: 768px) {
  .about::before {
    display: none;
  }
}

.about .main .main__title {
  font-family: "Space Mono", sans-serif;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  width: 500px;
  color: #fff;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .about .main .main__title {
    text-align: center;
    margin: 0 auto;
    padding-top: 137px;
    margin-bottom: 42px;
  }
}

@media (max-width: 450px) {
  .about .main .main__title {
    width: 311px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.78571px;
  }
}

.about .main .main__text {
  width: 405px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 54px;
  margin-left: 120px;
  color: #fff;
  position: relative;
}

@media (max-width: 768px) {
  .about .main .main__text {
    width: 573px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 46px;
  }
}

@media (max-width: 450px) {
  .about .main .main__text {
    width: 311px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 34px;
  }
}

.about .main .main__text::after {
  content: url(/img/snake-line-right.svg);
  position: absolute;
  top: 45px;
  left: 450px;
}

@media (max-width: 768px) {
  .about .main .main__text::after {
    top: 160px;
    left: -230px;
  }
}

@media (max-width: 450px) {
  .about .main .main__text::after {
    top: 160px;
    left: -380px;
  }
}

.about .main .main__link {
  display: inline-block;
  text-decoration: none;
  padding: 14px 39px;
  background-color: #fcb72b;
  font-family: "Space Mono", sans-serif;
  color: #fff;
  margin-left: 120px;
}

.about .main .main__link:hover {
  color: #fcb72b;
  background-color: #fff;
  border: 2px solid #fcb72b;
  -webkit-box-shadow: 0px 1px 2px #fcb72b;
          box-shadow: 0px 1px 2px #fcb72b;
}

.about .main .main__link:active {
  background-color: transparent;
  color: #fcb72b;
  border: 2px solid #fcb72b;
}

@media (max-width: 768px) {
  .about .main .main__link {
    margin-left: 35%;
  }
}

@media (max-width: 768px) {
  .about .main .main__link {
    margin-left: 25%;
  }
}

.process .process__main {
  width: 947px;
  height: 15px;
  background-color: #939caa;
  position: relative;
  margin-bottom: 87px;
}

@media (max-width: 768px) {
  .process .process__main {
    width: 512px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 127px;
    left: -100px;
  }
}

@media (max-width: 450px) {
  .process .process__main {
    background-color: transparent;
    margin-left: 50px;
  }
}

.process .process__main .first {
  top: -45px;
  left: 20%;
  position: absolute;
  background-color: #fcb72b;
  background-image: url(/img/phone.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fcb72b;
}

@media (max-width: 768px) {
  .process .process__main .first {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 22%;
  }
}

@media (max-width: 450px) {
  .process .process__main .first {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 22%;
  }
}

.process .process__main .second {
  top: -40px;
  left: 60%;
  position: absolute;
  background-color: #fcb72b;
  background-image: url(/img/scooter.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fcb72b;
}

@media (max-width: 768px) {
  .process .process__main .second {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media (max-width: 450px) {
  .process .process__main .second {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 90%;
  }
}

.process .process__main .third {
  position: absolute;
  top: -40px;
  left: 100%;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fcb72b;
  background-image: url(/img/cycle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .process .process__main .third {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 98%;
  }
}

@media (max-width: 450px) {
  .process .process__main .third {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 160%;
  }
}

.process .main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .process .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -110px;
    margin-left: 40%;
  }
}

@media (max-width: 450px) {
  .process .main__block {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .process .main__block .box {
    margin-bottom: 40px;
  }
}

@media (max-width: 450px) {
  .process .main__block .box {
    margin-bottom: 190px;
    text-align: center;
  }
}

.process .main__block .box .box__title {
  font-family: "Space Mono", sans-serif;
  color: #495567;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  margin-bottom: 27px;
}

.process .main__block .box .box__text {
  color: #939caa;
  width: 350px;
  font-size: 15px;
  line-height: 25px;
}

.main-part {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
}

@media (max-width: 768px) {
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.block .block__main {
  width: 445px;
}

.block .block__main .main__title {
  color: #495567;
  font-family: "Space Mono", sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .block .block__main .main__title {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .block .block__main .main__title {
    width: 311px;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
  }
}

.block .block__main .main__text {
  color: #939caa;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 54px;
}

@media (max-width: 768px) {
  .block .block__main .main__text {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .block .block__main .main__text {
    text-align: center;
    width: 311px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.block .block__main .main__link {
  text-decoration: none;
  display: inline-block;
  padding: 14px 44px;
  background-color: #fcb72b;
  color: #fff;
}

@media (max-width: 768px) {
  .block .block__main .main__link {
    margin-left: 30%;
  }
}

.block .block__main .main__link:hover {
  padding: 12px 42px;
  background-color: #fff;
  color: #fcb72b;
  border: 2px solid #fcb72b;
}

@media (max-width: 768px) {
  .image {
    width: 311px;
    height: 311px;
    margin: 0 auto;
  }
}

.plus {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .plus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.img-shadow {
  position: relative;
}

.img-shadow::before {
  content: url(/img/snake-line-rl.svg);
  position: absolute;
  left: -30px;
  bottom: 0;
  z-index: 2;
}

@media (max-width: 450px) {
  .img-shadow::before {
    left: 0;
  }
}

.img-shadow::after {
  content: '';
  width: 445px;
  height: 445px;
  background-color: #E5ECF4;
  position: absolute;
  right: -550px;
  border-radius: 50%;
}

@media (max-width: 450px) {
  .img-shadow::after {
    display: none;
  }
}

.img-shadow-minus {
  position: relative;
}

.img-shadow-minus::before {
  content: url(/img/snake-line-right.svg);
  position: absolute;
  left: -250px;
  top: 0;
  z-index: 2;
}

.img-shadow-minus::after {
  content: '';
  width: 445px;
  height: 445px;
  background-color: #E5ECF4;
  position: absolute;
  left: -550px;
  border-radius: 50%;
}

@media (max-width: 450px) {
  .img-shadow-minus::after {
    display: none;
  }
}

.img-shadow-plus {
  position: relative;
}

.img-shadow-plus::before {
  content: url(/img/snake-line-rl.svg);
  position: absolute;
  left: 250px;
  top: 90px;
  z-index: 2;
}

@media (max-width: 450px) {
  .img-shadow-plus::before {
    left: 150px;
    top: 0;
  }
}

.img-shadow-plus::after {
  content: '';
  width: 445px;
  height: 445px;
  background-color: #E5ECF4;
  position: absolute;
  right: -550px;
  border-radius: 50%;
}

@media (max-width: 450px) {
  .img-shadow-plus::after {
    display: none;
  }
}

.footer .advertise {
  width: 100%;
  height: 300px;
  background-color: #495567;
  background-image: url(/img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.footer .advertise .advertise__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer .advertise .advertise__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .advertise .advertise__main .advertise__title {
  padding-top: 102px;
  width: 415px;
  font-family: "Space Mono", sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .footer .advertise .advertise__main .advertise__title {
    text-align: center;
    padding-top: 62px;
  }
}

@media (max-width: 450px) {
  .footer .advertise .advertise__main .advertise__title {
    text-align: center;
    padding-top: 88px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
  }
}

.footer .advertise .advertise__main .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

@media (max-width: 768px) {
  .footer .advertise .advertise__main .link {
    padding-top: 40px;
  }
}

.footer .advertise .advertise__main .link .link__item {
  margin-left: 18px;
}

.footer .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96px;
  background-color: #333A44;
}

@media (max-width: 450px) {
  .footer .footer__main {
    height: 438px;
  }
}

.footer .footer__main .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media (max-width: 450px) {
  .footer .footer__main .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer__main .main .icon-1 {
  fill: #FFF;
  width: 108px;
  height: 30px;
}

@media (max-width: 450px) {
  .footer .footer__main .main .icon-1 {
    margin-top: -100px;
    margin-top: 64px;
    margin-bottom: 44px;
  }
}

.footer .footer__main-logo-link {
  margin-left: 550px;
  width: 200px;
}

@media (max-width: 768px) {
  .footer .footer__main-logo-link {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .footer .footer__main-logo-link {
    margin-left: 40px;
  }
}

.footer .footer__main-logo-link .icon {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 24px;
  height: 24px;
  fill: #fcb72b;
  margin-left: 24px;
}

.footer .footer__main-logo-link .icon:hover {
  fill: #fff;
}

.main__lp-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 450px) {
  .main__lp-list {
    width: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 84px;
  }
}

.main__lp-list .lp-list__item {
  margin-left: 32px;
}

.main__lp-list .lp-list__item:nth-child(1) {
  margin-left: 58px;
}

@media (max-width: 450px) {
  .main__lp-list .lp-list__item {
    margin-bottom: 16px;
    padding-right: 16px;
  }
}

.main__lp-list .lp-list__item .item__link {
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
  color: #939caa;
}

.main__lp-list .lp-list__item .item__link:hover {
  color: #fcb72b;
}

@media (max-width: 450px) {
  .f {
    margin-right: 40px;
  }
}

@media (max-width: 450px) {
  .s {
    margin-right: 10px;
  }
}

@media (max-width: 450px) {
  .t {
    margin-right: 10px;
  }
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, a {
  font-family: "Lexend Deca", sans-serif;
}
